* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.items__container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.items__container h1 {
  letter-spacing: 2px;
}

.items__wrapper {
  min-height: 200px;
}

.item {
  font-size: 2rem;
}

.buttons__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pages__container li button.selected {
  font-weight: bolder;
}

.pages__container button,
.buttons__container button {
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.buttons__container .previous-button,
.buttons__container .next-button {
  visibility: hidden;
}

.buttons__container .previous-button.is-visible,
.buttons__container .next-button.is-visible {
  visibility: visible;
}

.pages__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.form__container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form__container input,
.form__container button {
  padding: 5px;
}

.form-input__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
